/* Generic website styles */

body {
    background-color: white;
    font-family:'Montserrat', sans-serif;
}

/* Styles used across multiple pages */

.navbar,
.dropdown-menu,
footer,
.book-btn,
.page-card-body,
.accordion-button,
.accordion-body,
.sign-up-container {
    background-color: #faeee9
}

.navbar-brand, .page-card-header, .caption {
    font-family: 'Playfair Display', serif;
}

.navbar-brand,
.nav-link,
.dropdown-item,
.book-btn,
.social,
.stylist-name,
.sign-up-prompt,
.log-in-prompt,
.edit-delete-link {
    color: #735366;
}

.page-card-header,
.action-btn,
.action-btn:hover,
.contact,
.book-btn:hover,
.caption  {
    color: #faeee9;
    text-align: center;
}

.action-btn {
    text-decoration: none;
}

.page-card-header {
    text-transform: capitalize;  
}

.action-btn, .book-btn {
    text-transform: uppercase;
    text-decoration: none;
}

.action-btn,
.book-btn:hover {
    background-color: #735366;
}

.social:hover,
.sign-up-prompt:hover,
.log-in-prompt:hover,
.navbar-brand:hover,
.edit-delete-link:hover,
.stylist-background,
.page-card-body,
.accordion-button,
.accordion-body {
    color: #4e5865;
    text-align: center;
}

.contact,
.page-card-header,
.action-btn:hover,
.caption {
    background-color: #4e5865;
}

/* Base.html styles */

.navbar a {
    border-bottom: 1px solid transparent;
}

.book-btn:hover {
    text-decoration: none;
}

.bi-envelope, .bi-facebook, .bi-instagram, .bi-twitter {
    font-size: 1.5rem;
}

.active, .nav-link:hover, .dropdown-item:hover {
    border-bottom: 1px solid #4e5865;
}

/* index.html styles */

.hero-image {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.caption {
    text-transform: capitalize;
}

.services-card, .services-link {
    background-color: #faeee9;
    color: #735366;
}

/* Stylist page styles */

.stylist-image {
    width: 50%;
    border-radius: 50%;
}

/* login/signin/logout page styles */

.sign-up-container {
    width: 95%;;
}

.header-text {
    width: 100%;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
}

.sign-up-container input {
    width: 90%;
}

/* edit/delete page styles */

.edit-delete-link {
    text-transform: capitalize;
}

.edit-delete-link:hover {
    font-size: 120%;
}

/* Alert button styles */

.alert-success, .alert-danger {
    border: none;
    text-align: center;
}

/* Bookings page styles */

.cancel-change-btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

/* media queries */

@media (min-width: 768px) {
    .navbar-brand {
        font-size: 7rem;
    }

    .caption {
        font-size: 2.8rem;
    }

    .sign-up-container {
    width: 50%;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        font-size: 7rem;
    }

    .caption {
        font-size: 2.8rem;
    }

    .sign-up-container {
    width: 35%;
    }
}

@media (max-width: 992px) {
    .cancel-change-btn {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}