{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--success message container-->
<div class="py-0 mx-3">
    {% for message in messages %}
        {% if "success_services" in message.tags %}
            <div class="alert alert-success container-fluid my-3 mb-0 border-0 text-center" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>

<!--bookings summary container-->
<div class="container-fluid my-3 border-0">
    <div class="card text-center border-0">
        <div class="card-header page-card-header h2 rounded-0">Bookings</div>
        <div class="card-body page-card-body fs-6 p-0 mb-0 pt-4">
            {% if user.is_authenticated %}
            <p class="card-text lead">Welcome {{ user.username|title }}</p>
            <p>This is your bookings portal.
            <p>From this portal you will be able to make bookings and view exisiting bookings.
            <p>You will also be able to change and cancel any upcoming bookings.</p>
            <a href="{% url 'add_bookings' %}" class="btn card-text action-btn text-decoration-none mb-3 px-4 mx-2">Book now</a>
            <button class="btn card-text action-btn text-decoration-none mb-3 px-4 mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-bookings" aria-expanded="false" aria-controls="collapse-bookings">
                My bookings
            </button>
            {% endif %}
        </div>
    </div>
</div>  

<!-- bookings table, prepared using Bootstrap 5 responsive table template with collapse toggle -->
<div class="table-responsive container-fluid my-3 border-0 collapse" id="collapse-bookings">
    <table class="table table-hover page-card-body">
        <thead class>
            <tr>
                {% if user.is_superuser %}
                <th scope="col">User</th>
                {% endif %}
                <th scope="col">Client</th>
                <th scope="col">Service</th>
                <th scope="col">Appointment</th>
                <th scope="col">Change/Cancel</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    {% if user.is_superuser %}
                    <td class="table-text">{{ booking.user }}</td>
                    {% endif %}
                    <td class="table-text">{{ booking.first_name }} {{ booking.last_name|title }}</td>
                    <td class="table-text">{{ booking.service }}</td>
                    <td class="table-text">{{ booking.date }}, {{ booking.get_time_display }}, {{booking.stylist}}</td>
                    <td> 
                        {% if booking.past_date != True %}
                        <a href="edit/{{ booking.id }}" class="btn card-text action-btn text-decoration-none m-2">Change</a>
                        <a href="delete/{{ booking.id }}" class="btn card-text action-btn text-decoration-none">Cancel</a>
                        {% else%}
                        <p>Booking cannot be amended</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}           
        </tbody>
    </table>
</div>

{% endblock %}